body {
    font-family: "Tines New Roman", Times, serif;
}

h1 {
    font-size:150%;
}
.ex {
	margin: 12px 600px 12px 150px;
}
.ux {margin: 20px 800px 20px 250px;
}
header {
	background-color:black;
  color:white;
  text-align:center;
  padding:5px 0 5px;
}
nav {
	position: fixed;
  line-height:30px;
  height:1000px;
  width:115px;
  float:left;
}
footer {
	color:black;
  clear:both;
  text-align:center;
  padding:5px;
}
aside {
	position: fixed;
  top: 90px;
  Right: 220px;
  width:350px;
}
